.u-section-1 .u-sheet-1 {
  min-height: 1150px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 50px 151px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -48px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px auto 0 141px;
}

.u-section-1 .u-image-1 {
  width: 221px;
  height: 221px;
  margin: 75px auto 0 141px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: -159px 827px 60px 191px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -37px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 123px;
    margin-right: 417px;
    margin-left: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-top: 354px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 319px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-top: 1250px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 239px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-2 {
    margin-top: 713px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 150px;
  }
}