.u-section-1 .u-sheet-1 {
  min-height: 846px;
}

.u-section-1 .u-form-1 {
  height: 652px;
  margin: 58px 305px 0 265px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-passive-icon-1 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-2 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-3 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-4 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-passive-icon-5 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-1 .u-btn-2 {
  margin: -62px 435px 0 auto;
  padding: 13px 30px 14px 29px;
}

.u-section-1 .u-btn-3 {
  margin: -53px 315px 9px auto;
  padding: 13px 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 205px;
    margin-left: 165px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 235px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 95px;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 15px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}