<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="ut8f-">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/nicepage.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'home/Home.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'home/jquery-1.9.1.min.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'home/nicepage.js' %}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "{% static 'to_do_list/images/teamos_logo.png' %}"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-overlap u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-b4e3"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="{% url 'home' %}"  class="u-image u-logo u-image-1">
          <img src="{% static 'to_do_list/images/teamos_logo.png' %}" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-nav-container">
             <ul class="u-nav u-unstyled u-nav-1">
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"  href="{% url 'login' %}" style="padding: 10px 20px;">Login</a>
                 <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'redirect_todo' %}" style="padding: 10px 20px;">Tasks</a>

</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'redirect_teams' %}" style="padding: 10px 20px;">Teams</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'redirect_projects' %}" style="padding: 10px 20px;">Projects</a>
</li></ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                  <ul class="u-nav u-unstyled u-nav-1">

</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"  href="{% url 'login' %}" style="padding: 10px 20px;">Login</a>
                      <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'redirect_todo' %}" style="padding: 10px 20px;">Tasks</a>

</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'redirect_teams' %}" style="padding: 10px 20px;">Teams</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'redirect_projects' %}" style="padding: 10px 20px;">Projects</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-f1ca">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-9249">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1" src="">
                <div class="u-container-layout u-valign-middle u-container-layout-1"><span class="u-icon u-icon-circle u-palette-1-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 32 32" style=""><use xlink:href="#svg-6936"></use></svg><svg class="u-svg-content" viewBox="0 0 32 32" id="svg-6936"><g><path d="M20.388,10.918L32,12.118l-8.735,7.749L25.914,31.4l-9.893-6.088L6.127,31.4l2.695-11.533L0,12.118 l11.547-1.2L16.026,0.6L20.388,10.918z"></path>
</g></svg>
                
                
              </span>
                  <h2 class="u-text u-text-1">Teamos takes you further.</h2>
                  <p class="u-text u-text-2">.</p>
                  <a href="{% url 'register' %}" class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1">Join us right now!</a>
                </div>
              </div>
              <img src="{%static 'home/images/first.jpg'%}" class=" u-container-style u-image u-right-cell u-size-30 u-size-xs-60 "  data-image-width="1080" data-image-height="1080">

            </img>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-2c46">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-shading u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1080" data-image-height="1080">
                <div class="u-container-layout u-valign-middle u-container-layout-1" src="">
                  <h2 class="u-text u-text-default u-text-1">Experience effective teamwork</h2>
                  <p class="u-text u-text-2">Our app helps you manage tough team projects and thus enhance your career.</p>
                  <a href="{% url 'login' %}" class="u-btn u-button-style u-palette-1-base u-btn-1">Are you ready to start your journey to success?</a>
                </div>
              </div>
              <div class="u-align-left u-container-style u-grey-5 u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-3">More than 4 satisfied users!</h2>
                  <p class="u-text u-text-4">We appreciate your feedback so feel free to contact us with your opinion.</p>
                  <a href="{% url 'register' %}" class="u-btn u-button-style u-palette-1-base u-btn-2">Start using Teamos now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="sec-e747">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <img class="u-container-style u-image  u-left-cell u-size-15 u-size-20-md " src="{%static 'home/images/time.jpg'%}" data-image-width="900" data-image-height="1080">

              <div class="u-align-left u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h3 class="u-text u-text-1">Deadlines and tasks </h3>
                  <p class="u-text u-text-2">Deadlines and tasks help you to schedule you time and priorities.</p>
                </div>
              </div>
              <img class="u-container-style u-image u-size-15 u-size-30-md " src="{%static 'home/images/teamwork.png'%}" data-image-width="1080" data-image-height="1080">


                <div class="u-container-layout u-valign-middle u-container-layout-4">
                  <h3 class="u-text u-text-3">Projects and teams</h3>
                  <p class="u-text u-text-4">Stay in touch with your colleagues through project and teams. Keep your company organised.</p>
                </div>
              </img>
            </img>
          </div>
        </div>
      </div>
    </section>
  
</body></html>